footer {
    max-height: 2rem;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-title {
    color: #fff;
  }